<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fideicomiso.banpro.fideicomiso">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.LOCATION_HARDWARE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:name=".Controller.AppController"
        android:allowBackup="true"
        android:icon="@drawable/appicon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/appicon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme2">
        <activity android:name=".View.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".View.Dashboard"
            android:label="@string/title_activity_dashboard"
            android:theme="@style/AppTheme" />

        <service
            android:name=".Sincronizar.SincronizacionService"
            android:enabled="true"
            android:exported="true" />

        <receiver android:name=".Sincronizar.SincronizacionBroadcast">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity android:name=".View.MarkersActivity" />
        <activity android:name=".View.MarkerDetailActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity android:name=".View.NoVisitaActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.fideicomiso.banpro.fideicomiso.View.Dashboard" />
        </activity>
        <activity android:name=".View.VisitaActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.fideicomiso.banpro.fideicomiso.View.Dashboard" />
        </activity>
        <activity android:name=".View.GrabarAudioActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.fideicomiso.banpro.fideicomiso.View.Dashboard" />
        </activity>
        <activity android:name=".View.RegistradosActivity"  >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.fideicomiso.banpro.fideicomiso.View.Dashboard" />
        </activity>
        <activity
            android:name=".View.DetalleRegistroActivity"
            android:label="@string/title_activity_detalle_registro">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.fideicomiso.banpro.fideicomiso.View.RegistradosActivity" />
        </activity>
    </application>

</manifest>